html {
  box-sizing: border-box;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: cursive;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1 {
    padding: 1rem;
}

#counter-screen {
    font-size: 4rem;
} 

.counter-buttons { 
    background-color: #0d6fed;
    color: aliceblue; 
    padding: 12px;
    border-radius: 10px;
    font-size: 1.4rem;
    border: none;
    margin-inline: 1rem;
   cursor: pointer;
} 
